In [1]:
import pandas as pd
import numpy as np

import data

In [4]:
data=pd.read_excel('churn2.xlsx')
data

,code,city,speed,churn,CSCalls,SalesCalls,namava,shoteltalk,casper,Android Security,VocNo,195No
0,41661474,1,8192,0,7,3,0,0,0,0,0,0
1,41661471,1,8192,0,1,6,0,0,0,0,0,0
2,41661457,2,512,0,7,6,0,0,0,0,0,0
3,41661447,1,512,0,5,4,0,0,0,0,0,0
4,41661306,1,512,0,1,4,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1494,41572306,2,4096,1,23,20,0,0,0,0,0,0
1495,41572242,4,8192,1,20,9,0,0,0,0,0,0
1496,41572220,2,1024,1,3,19,0,0,0,0,0,0
1497,41572213,4,8192,1,2,10,0,0,0,0,0,0
1498,41572181,4,4096,1,5,12,0,0,0,0,0,0

remove feature

In [5]:
data=data.drop('code',axis=1)
data

,city,speed,churn,CSCalls,SalesCalls,namava,shoteltalk,casper,Android Security,VocNo,195No
0,1,8192,0,7,3,0,0,0,0,0,0
1,1,8192,0,1,6,0,0,0,0,0,0
2,2,512,0,7,6,0,0,0,0,0,0
3,1,512,0,5,4,0,0,0,0,0,0
4,1,512,0,1,4,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1494,2,4096,1,23,20,0,0,0,0,0,0
1495,4,8192,1,20,9,0,0,0,0,0,0
1496,2,1024,1,3,19,0,0,0,0,0,0
1497,4,8192,1,2,10,0,0,0,0,0,0
1498,4,4096,1,5,12,0,0,0,0,0,0

In [7]:
data.isnull().sum()

city                0
speed               0
churn               0
CSCalls             0
SalesCalls          0
namava              0
shoteltalk          0
casper              0
Android Security    0
VocNo               0
195No               0
dtype: int64

In [8]:
data.dtypes

city                int64
speed               int64
churn               int64
CSCalls             int64
SalesCalls          int64
namava              int64
shoteltalk          int64
casper              int64
Android Security    int64
VocNo               int64
195No               int64
dtype: object

In [10]:
li=['city','churn','namava','shoteltalk','casper','Android Security']
data[li]=data[li].astype(str)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   city              1499 non-null   object
 1   speed             1499 non-null   int64
 2   churn             1499 non-null   object
 3   CSCalls           1499 non-null   int64
 4   SalesCalls        1499 non-null   int64
 5   namava            1499 non-null   object
 6   shoteltalk        1499 non-null   object
 7   casper            1499 non-null   object
 8   Android Security  1499 non-null   object
 9   VocNo             1499 non-null   int64
 10  195No             1499 non-null   int64
dtypes: int64(5), object(6)
memory usage: 128.9+ KB

In [18]:
from sklearn.model_selection import train_test_split 
x=data.drop('churn',axis=1)
y=data['churn']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=101)
print(x_train.shape)
print(y_train.shape)

(1124, 10)
(1124,)

In [19]:
from sklearn.neural_network import MLPClassifier
mlp=MLPClassifier(hidden_layer_sizes=(5,5),activation='logistic',learning_rate_init=0.2,random_state=101,solver='adam',momentum=0.8)
mlp.fit(x_train,y_train)

MLPClassifier(activation='logistic', hidden_layer_sizes=(5, 5),
              learning_rate_init=0.2, momentum=0.8, random_state=101)

In [21]:
y_pred=mlp.predict(x_test)
y_pred

array(['1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1'], dtype='<U1')

In [22]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from IPython.display import display
from sklearn.metrics import classification_report

In [23]:
accuracy_score(y_test,y_pred)

0.49333333333333335

In [24]:
confusion_matrix(y_test,y_pred)

array([[  0, 190],
       [  0, 185]])

In [25]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       190
           1       0.49      1.00      0.66       185

    accuracy                           0.49       375
   macro avg       0.25      0.50      0.33       375
weighted avg       0.24      0.49      0.33       375

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))